body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    transition: background 0.5s ease;
    overscroll-behavior: none;
    padding-top: 30px;
    padding-bottom: 30px;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    width: 80%;
    max-width: 1400px;
    margin-bottom: 30px;
    animation: fadeIn 1s ease-in-out;
}

.movie-details {
    flex: 1.5;
    min-width: 300px;
    padding: 30px;
    background: #F6F7EB;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.poster {
    width: 300px;
    height: 450px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
    transition: transform 0.3s ease;
}

.poster:hover {
    transform: scale(1.05);
}

.right-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.trivia {
    padding: 30px;
    background: #F6F7EB;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 350px;
    overflow: auto;
    margin-top: 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.trivia-button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #7e4d4f;
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.trivia-button:hover {
    background: #453636;
    transform: scale(1.05);
}

.trivia-button:disabled {
    cursor: default;
    opacity: 0.7;
}

/* Aggiungi questa parte al tuo CSS */
.streaming-button {
    background-color: #7e4d4f;
    color: white;
    padding: 10px 20px; 
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.streaming-button:hover {
    transform: scale(1.05);
    /* Ingrandisce il bottone */
    background-color: #453636;
    /* Scurisce il bottone */
}


::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.spotify {
    display: flex;
    align-items: center;
    padding: 30px;
    text-align: left;
    background: linear-gradient(135deg, #1DB954, #1AA34A);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.spotify:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.spotify img {
    border-radius: 8px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.spotify .playlist-info {
    flex: 1;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.spotify .playlist-info h2 {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
}

.spotify .playlist-info p {
    margin: 5px 0 0;
    font-size: 0.9em;
}

.spotify .spotify-logo {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 60px;
    margin: 10px;
    /* Aumenta la larghezza */
    height: auto;
    /* Mantieni le proporzioni */
    opacity: 0.8;
    transition: opacity 0.3s ease;
}


.spotify:hover .spotify-logo {
    opacity: 1;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .movie-details,
    .right-column,
    .trivia,
    .spotify {
        width: 100%;
        max-width: 100%;
    }
}

.video-container {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.video-container:hover {
    transform: scale(1.05);
}

.video-container iframe {
    width: 100%;
    aspect-ratio: 16/9;
    border: none;
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}