<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieMatch - Movie Details</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/movie-details.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>
</head>
<body>
    <div class="container">
        <!-- Movie Details -->
        <div class="movie-details">
            <h1>Movie Details</h1>
            <div class="details">
                <h2 id="title">Loading...</h2>
                <p id="year">Loading...</p>
                <p id="director">Loading...</p>
            </div>
            <img id="poster" class="poster" src="/static/images/loading.gif" alt="Loading...">
            <div class="video-container">
                <iframe width="560" height="315" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>

        <!-- Right Column containing Trivia, Spotify, and Streaming Availability -->
        <div class="right-column">
            <!-- Trivia -->
            <div class="trivia">
                <h1>Trivia</h1>
                <p id="question">Caricamento domanda...</p>
                <div id="options">
                    <button onclick="checkAnswer(1)">1</button>
                    <button onclick="checkAnswer(2)">2</button>
                    <button onclick="checkAnswer(3)">3</button>
                </div>
                <p id="feedback" style="font-weight: bold; margin-top: 10px;"></p>
            </div>

            <!-- Spotify -->
            <div class="spotify" id="spotify-container" onclick="openSpotify()">
                <img id="spotify-cover" src="" alt="Playlist Cover">
                <div class="playlist-info">
                    <h2 id="playlist-title">Titolo Playlist</h2>
                    <p id="playlist-description">Ascolta su Spotify</p>
                </div>
                <img id="spotify-logo" class="spotify-logo"
                    src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_RGB_White.png"
                    alt="Spotify Logo">
            </div>

            <!-- Streaming Availability -->
            <div class="trivia">
                <h1>Streaming Availability</h1>
                <p id="streaming-description">Frase di prova</p>
            </div>
        </div>
    </div>

    <script src="/static/js/movie-details.js"></script>
</body>
</html>